<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulario Habilidad</title>
</head>
<body>
    <h1>Agregar / Editar Habilidad</h1>
    <form th:action="@{/habilidades/guardar}" th:object="${habilidad}" method="post">
        <input type="hidden" th:field="*{idHabilidad}" />
        <label>Habilidad:</label>
        <input type="text" th:field="*{habilidad}" required />
        <br/>
        <label>Nivel:</label>
        <select th:field="*{nivel}">
            <option th:each="nivel : ${niveles}" th:value="${nivel}" th:text="${nivel}"></option>
        </select>
        <br/>
        <label>Persona:</label>
        <select th:field="*{persona.idPersona}">
            <option th:each="persona : ${personas}" th:value="${persona.idPersona}" th:text="${persona.nombre} + ' ' + ${persona.apellido}"></option>
        </select>
        <br/>
        <button type="submit">Guardar</button>
    </form>
    <a th:href="@{/habilidades/lista}">Volver a la lista</a>
</body>
</html>
